<style>
  {
    background-color:#FFF;
  }

  .galeria {
    height: calc( var(--h) + 1em);
    width: var(--w);
    margin:0em;
    border: 1px solid #555;
    position: relative;
    display:inline-block;
  }

  .galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s;
  }

  .galeria input[type=radio] {
    position: relative;
    bottom: calc(-1 * var(--h) - 1.5em);
    left: .5em;
    z-index: 1;
    left: 50%;
  }

  .galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
  }

  .galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  }

  .galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }

  .galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }


  /* Menu Principal*/
  .divmenu{
  z-index: 2;
  width:50%;
  position: relative;
  margin-top:196px ;
      background-color: transparent;

  }

  nav{
      overflow:hidden;
      padding:10px;
      width:100%;
      background-color: transparent;
    

  }

  nav ul{
      list-style:none;
      margin:0 0px 0px;
      padding:0;
      background-color: transparent;
  }

  nav ul li{
      /*Bordes redondeados*/
      -webkit-border-radius:5px;/*Chrome y Safari*/
      -moz-border-radius:5px;/*Firefox*/
      -o-border-radius:5px;/*Opera*/
      border-radius:5px;/*Estandar por defecto*/
      float:left;
      font-family:Arial, Helvetica, sans-serif;
      font-size:16px;
      font-weight:bold;
      margin-right:20px;
      text-align:center;
      /*Sombras para texto, los mismos parametros que box-shadow*/
      text-shadow: 0px 1px 0px #FFF;
          background-color: transparent;
  }

  nav ul li:hover{
         background-color: transparent;
          
  }
  nav ul li a{
      color:#000;
      display:block;
      padding:10px;
      text-decoration:none;
      background-color: #F47920;
      width:97%;
      border: solid 1px #000;
      margin: 1px;
      border-radius:20px 20px 0px 0px;
      /*Transiciones*/
      -webkit-transition: 0.4s linear all;
      -moz-transition: 0.4s linear all;
      -o-transition: 0.4s linear all;
      transition: 0.4s linear all;
  }
  nav ul li a:hover {
      color:#fff;
      background-color:#EF381E;
  }

  nav ul li a:link {
      color:#000;
      
  }

  /* MENU LATERAL */
  #menu2 ul {
      list-style-type: none;
      margin: 5px;
      padding: 0px;
      width: 15%;
      font-family: Arial, sans-serif;
      font-size: 11pt;
  }

  #menu2 ul li {
      background-color: #FFBC49;
      border: 1px solid #FF9800;
  }

  #menu2 ul li a {
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      /*display: inline-block;*/
      padding: 10px 10px 10px 20px;
  }

  #menu2 ul li a:hover {
      background: #EF381E;
      border-left: 10px solid #333;
      color: #fff;
  }


/*---------Redes-------*/
  #redessociales
  {
  position: relative;
  width: 10%;
  height: 60px;
  margin-top:-150px;
  margin-left: 87%;

  }
  
  #redessociales_2
  {
  position: absolute;
  width: 10%;
  height: 60px;
  margin-top: 1%;
  margin-left: 87%;
  display: inline-block;
  }


  .seccion1

  {
  width: 80%;
  height: 800px;
  margin-left:17%;
  font-family: Arial, Helvetica, sans-serif;


  }

  .seccion2

  {
  margin-left:15px;
  margin-bottom: 3px;
  /*background-color: #ccc;*/
  height: calc( var(--h) + 1em);
  width: var(--w);

  }

  .titulo1

  { background-color: #F5C783;
    border: solid 1px #EF4F32;
    height: calc( var(--h) + 1em);
    width: var(--w);
    text-align: center;
  }


/*---------Footer--------*/
 #piefinal {
    background-color: #efefef;
    color: #005883;
    position: relative;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 20%;
    margin-top:10%;   
  }
  .footer {
    display: inline-block;
    margin-left: 10%;
    margin-right: 8%;
    padding: 1rem;
  }

  .footer2 {
    display: inline-block;
    list-style: none;
    margin-left: 8%;
    margin-right: 25%;
  }

  #piefinal li{
      list-style: none;    
  }

/*------Secci贸n Multimedia-----*/
/*------Video-------*/

.contenido_m{
  position: relative;
  display: block;
  margin: 1%;
  border-radius: 8px;
  font-size: large;
  font-family: arial, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  color: #fff;
  box-shadow: 8px 8px 6px #888888;
  text-align: center;
}

.contenido_m div{
  display: inline-block;
  margin: 20px;
  position: relative;
}

.m_referencia {
font-size: 15px;
padding-bottom: 10px;
}

iframe {
  height: 300px;
  width: 600px;
  float: center;
  border-radius: 6px;
  clear: right;
}

#contenido_m_1{
  background-color: #50B748;
}

#contenido_m_2{
  background-color: #A54686;
}

#contenido_m_3{
  background-color: #005883;
}

.lectura_m{
  font-size: 20px;
  font-family: arial, Helvetica;
  color: #005883;
  padding:30px;
}
/*------Fin Secci贸n Multimedia-------*/

/*------Secci贸n Autores------*/

.contenido_curso{
  position: relative;
  display: block;
  margin: 1%;
  border-radius: 8px;
  font-size: large;
  font-family: arial, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 8px 6px #888888;
  text-align: center;
}

.contenido_curso div{
  display: inline-block;
  margin: 20px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.contenido_curso div img{
  border: 1px solid black;
}


.contenido_a{
  position: relative;
  display: inline-block;
  margin: 1%;
  border-radius: 8px;
  font-size: large;
  font-family: arial, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  color: #fff;
  box-shadow: 8px 8px 6px #888888;
  text-align: center;
  width: 30%;
}

.contenido_a div{
  display: inline-block;
  margin: 20px;
  position: relative;
}

.contenido_a div img{
  border: 1px solid black;
}

#contenido_a_1{
  background-color: #A54686;
}

#contenido_a_2{
  background-color: #005883;
}

#contenido_a_3{
  background-color: #43C7F4;
}

/*------Fin Secci贸n Autores-------*/

/*------Inicio Paginas Actividades-------*/
#actividad_1{
  background-color: #005883;
  text-align: left;
  font-size: 20px;
}

#actividad_2{
  background-color: #50B748;
  text-align: left;
  font-size: 20px;
}

#actividad_3{
  background-color: #A54686;
  text-align: left;
  font-size: 20px;
}
/*------Inicio Paginas Actividades-------*/

</style>
